<section>
  <h1>NgClass & NgStyle</h1>
  <input type="string" required #nameInput4="ngModel" [(ngModel)]="person.name" >
  <p class="message-error" [class.invalid]="nameInput4.invalid">Campo requerido</p>

  <div class="dynamicImg">
    <div>
      <input type="number" required #boxWidth="ngModel" [(ngModel)]="boxStyle.width" >
      <input type="number" required #boxHeight="ngModel" [(ngModel)]="boxStyle.height" >
      <input type="color" required #boxBackgroundColor="ngModel" [(ngModel)]="boxStyle.backgroundColor">
    </div>
    <div [ngStyle]="{
      'width.px': boxStyle.width,
      'height.px': boxStyle.height,
      'background-color': boxStyle.backgroundColor
    }"></div>
  </div>
</section>
<hr [ngClass]="{
  valid: nameInput4.valid,
  invalid: nameInput4.invalid
}">
<section>
  <h1>Class & Style</h1>
  <input type="string" required #nameInput2="ngModel" [(ngModel)]="person.name" >
  <p class="message-error" [class.invalid]="nameInput2.invalid">Campo requerido</p>
  <label>Nombre </label>
  <input type="string" required #nameInput3="ngModel" [(ngModel)]="person.name" >
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Text text text</p>
  <br />
  <h2>Dynamic width img</h2>
  <div class="dynamicImg">
    <div>
      <input type="number" #widthNumber="ngModel" [(ngModel)]="widthImg" />
    </div>
    <div>
      <img [style.width.px]="widthNumber.value" src="https://picsum.photos/200/300" />
    </div>
  </div>
</section>
<hr>
<input required [(ngModel)]="person.name">
<h2>[]ngSwitch</h2>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Jorge'">Jorge</p>
  <p *ngSwitchCase="'Juan'">Juan</p>
  <p *ngSwitchCase="'Pedro'">Pedro</p>
  <p *ngSwitchDefault>Default</p>
</div>
<p>{{ person.name }}</p>
<p *ngIf="person.name === 'Jorge'; else elseBlock">My content</p>
<ng-template #elseBlock>
  <p>Log in to see your content</p>
</ng-template>

<hr>
<h2>*ngFor</h2>
<input required [(ngModel)]="newName">
<button (click)="addNewName()">Add Name</button>
<ul>
    <li *ngIf="names.length === 0">No names added yet</li>
    <li *ngFor="let name of names; index as i">
      {{name}} - {{i}}
      <button (click)="removeName(i)">Delete name</button>
    </li>
</ul>

<hr>
<h2>*ngFor Arrays</h2>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" />
    <h3>{{product.name}}</h3>
    <p>{{product.price}}</p>
    <br>
    <span>{{product.category}}</span>
  </div>
</div>
